<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<%- include partials/title.ejs %>

  <!-- About me content -->

  <!-- Added Passport size photo -->
  <div class="container">
    <img class="myimg" src="/Assets/images/passport_photo.jpeg" alt="My Picture">
  </div>

  <div class="container">
    <h3>Soham Rajput</h3>
  </div>

  <!-- Brief paragraph about me -->
  <div class="container">
    <h5><br>Hello everyone, my name is Soham Rajput. I live in New Delhi, India.<br>
      <br>I completed my Bachelor of Engineering in Information Technology from Netaji Subhas Institute of Technology, University of Delhi.<br>
      <br>I am currently enrolled in <b>Software Eng. Tech. - Artificial Intelligence (Fast-track)</b> course at <b>Centennial College</b>.<br><br>
    </h5>

    <!-- Link to download my resume -->
    <h5><a href="/Assets/documents/soham_rajput_resume.pdf" download>Here's the link to download my resume</a></h5>
  </div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>