<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- About Me Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
    </div>
  </main>

  <div class="container">
    <img class="myimg" src="/Assets/images/passport_photo.jpeg">
  </div>

  <div class="container">
    <h3 style="text-align: center;">Soham Rajput</h3>
  </div>

  <div class="container">
    <p style="text-align: center;"><br>Hello everyone, my name is Soham Rajput. I live in New Delhi, India.<br>
      <br>I completed my Bachelor of Engineering in Information Technology from Netaji Subhas Institute of Technology, University of Delhi.<br>
      <br>I am currently enrolled in <b>Software Eng. Tech. - Artificial Intelligence (Fast-track)</b> course at <b>Centennial College</b>.
    </p>
  </div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>