<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
    </div>
  </main>

  <br><br>

  <form class="container">
    <div style="float:left; padding-left:310px;">
      <label class="lefttext">Your name</label>
      <input type="text" class="form-control" size="35" placeholder="Name">
    </div>
    <div style="float:right; padding-right:310px;">
      <label  class="lefttext">Your email</label>
      <input type="email" class="form-control" size="35" placeholder="xyz@example.com">
    </div>
    <div style="padding-left:310px; padding-right:310px;">
      <label class="lefttext">Your message</label>
      <textarea type="text" rows="5" cols="33" class="form-control" placeholder="Type message here"></textarea>
    </div>
  </form>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>