<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<%- include partials/title.ejs %>

  <!-- Home content -->
  <div class="container">
    <h2><br>Welcome to my website!<br></h2>
    <h3><br><br><br><u>Mission Statement</u><br></h3>
    <h5>IT student with aptitude for information systems analysis and computer programming, <br>seeking for a job position to develop my skills & potential and contribute to the organization.</h5>
    <h4><br><br><br>New here? Go to:<br></h4>
  </div>

  <!-- Page navigation buttons -->
  <div class="container">
    <a href="/about"><button type="button" class="btn btn-dark">About Me</button></a>
    <a href="/projects"><button type="button" class="btn btn-secondary">Projects</button></a>
    <a href="/services"><button type="button" class="btn btn-dark">Services</button></a>
    <a href="/contact"><button type="button" class="btn btn-secondary">Contact Me</button></a>
  </div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>