<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<%- include partials/title.ejs %>

  <!--Projects content-->
  <div class="container">
    <h2><br>My previous projects</h2>
  </div>

  <div class="container" style="padding-bottom:100px;">
    <br><img class="myimg" src="/Assets/images/slackbotimg.png" alt="Slack Bot"><h4>Serverless Slack bot using AWS Lambda and API Gateway</h4>
    <p>Built enterprise-level Slack bot using AWS serverless technologies like AWS Lambda and API Gateway</p>
    <br><img class="myimg" src="/Assets/images/digits.png" alt="Digits"><h4>Handwritten digit recognizer using CNN</h4>
    <p>Built a handwritten digit recognizer using Convolutional Neural Network over MNIST handwritten digit database</p>
    <br><img class="myimg" src="/Assets/images/lstmnodeimg.png" alt="LSTM"><h4>Time-series forecasting using LSTM</h4>
    <p>Built a time-series forecasting - future sales predictor model using LSTM</p>
  </div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>