<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
    </div>
  </main>

  <div class="container">
    <h3 class="centertext"><br>Services I offer</h3>
  </div>

  <ul class="container" style="list-style-type:disc;">
    <br><img class="myimg" src="/Assets/images/pythonimg.jpeg"><li class="centertext">General Programming in Python</li>
    <br><img class="myimg" src="/Assets/images/awsimg.png"><li class="centertext">Help with Amazon Web Services and CLI/SDK</li>
    <br><img class="myimg" src="/Assets/images/windowsimg.png"><li class="centertext">Troubleshooting operating systems such as Windows</li>
  </ul>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>