<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<%- include partials/title.ejs %>

  <!-- Services content -->
  <div class="container">
    <h2><br>Services I offer</h2>
  </div>

  <div class="container">
    <br><img class="myimg" src="/Assets/images/pythonimg.jpeg" alt="Python Logo"><h4>General Programming in Python</h4>
    <br><img class="myimg" src="/Assets/images/awsimg.png" alt="AWS Logo"><h4>Help with Amazon Web Services and CLI/SDK</h4>
    <br><img class="myimg" src="/Assets/images/windowsimg.png"  alt="Windows Logo"><h4>Operating system troubleshooting for OS such as Windows</h4>
  </div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>